<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- The Log4j Configuration -->
<!-- $Id: log4j.xml,v 1.10 2007/05/18 14:32:09 msurtani Exp $ -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
   <!-- The list of appenders -->
   <!-- The rolling file appender -->
   <appender name="FILE" class="org.radargun.utils.PerNodeRollingFileAppender">
      <param name="File" value="radargun.log"/>
      <param name="Append" value="false"/>
      <param name="Threshold" value="TRACE"/>
      <param name="MaxFileSize" value="100MB"/>
      <param name="MaxBackupIndex" value="3"/>
      <layout class="org.apache.log4j.PatternLayout">
         <!-- The default pattern: Date Priority [Category] Message\n -->
         <param name="ConversionPattern" value="%d [%t] %-5p [%c] %m%n"/>
         <!--param name="ConversionPattern" valye="%p %t %c - %m%n"/-->
      </layout>
   </appender>

   <!-- Here goes the root -->
   <root>
      <priority value="DEBUG"/>
      <appender-ref ref="FILE"/>
   </root>

</log4j:configuration>
